<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>how to</title>
</head>
<body>
    <h1>How to compile LMC</h1>
    <img src="" alt="">
    <ol>
        <li>Open the LMC app/program</li>
        <li>compile your code as you would normally if you wanted to run it</li>
        <li>click on file</li>
        <li>click on save</li>
        <li>give the file a name and save to your computer</li>
        <li><a href="/test/">Click here to go back</a></li>
    </ol>
</body>
</html>